.jumbotron
  %p
    %strong Name:
    = @opportunity.name
  %p
    %strong Note:
    = @opportunity.note
  .btn.btn-info  
    = link_to 'Edit', edit_opportunity_path(@opportunity)
  .btn.btn-info  
    = link_to 'Back', opportunities_path