.jumbotron
  %p
    %strong Name:
    = @activity.name
  %p
    %strong Note:
    = @activity.note
  .btn.btn-info  
    = link_to 'Edit', edit_activity_path(@activity)
  .btn.btn-info  
    = link_to 'Back', activities_path